<div id="content">
  <div id="quemSomos">
    <p>QUEM SOMOS?</p>
  </div>

  <div class="classCenter">
    <hr>

    <h2 id="title">TUDO SOBRE NÓS</h2>

    <p>
      Bem-vindo ao nosso universo de inovação e tecnologia!
    </p>

    <p>
      Nossa jornada começou em 2021, quando dois amigos apaixonados por programação, C# e
      JavaScript, uniram forças para criar algo único e transformador. Movidos por uma visão compartilhada de soluções inteligentes, embarcamos em uma emocionante aventura empreendedora.
    </p>

    <p>
      Ao longo dos anos, aprofundamos nossa expertise em linguagens de programação como
      C#, JavaScript e Angular, construindo pontes entre a criatividade e a funcionalidade. Essa sinergia nos permitiu desenvolver soluções personalizadas que atendem às necessidades específicas de cada cliente,
      levando a experiência do usuário a um novo patamar.
    </p>

    <p>
      Não paramos por aí. Reconhecendo a importância da mobilidade no mundo moderno, também dominamos a linguagem mobile,
      com destaque para a poderosa plataforma Ionic. Essa habilidade nos coloca na vanguarda das aplicações móveis, permitindo-nos criar experiências interativas e intuitivas que se adaptam perfeitamente a qualquer dispositivo.
    </p>

    <p>
      Nossa jornada é marcada pela busca incessante da excelência, pela paixão por desafios complexos e pela vontade de transformar ideias inovadoras em realidade.
      Estamos ansiosos para fazer parte da sua história, trazendo nossa expertise e dedicação para impulsionar o seu sucesso por meio de soluções de programação inteligentes e visionárias.
    </p>

    <p>
      Seja bem-vindo ao futuro, seja bem-vindo à nossa empresa.
    </p>

    <hr>
  </div>

  <div class="cards">
    <div class="card" *ngFor="let card of cardArray | keyvalue : defaultOrder" id="card{{card.key}}" (click)="expandCard(card.key)" [attr.expanded]="expandedCardIndex != '-1' ? expandedCardIndex == card.key : 'none'">
      <div class=cardAvatar>
        <img alt="avatar" src="{{card.value['img']}}">
      </div>

      <div class="cardTitle">
        <h1>{{card.value['mainRole']}}</h1>
      </div>
    </div>
  </div>
</div>
