<div id="quemSomos">
  <p>QUEM SOMOS?</p>
</div>

<div class="classCenter">
  <hr>
  <h2 id="title">TUDO SOBRE NÓS</h2>
  <p>Bem-vindo ao nosso universo de inovação e tecnologia!</p>
  <p>Nossa jornada começou em 2021, quando dois amigos apaixonados por programação, C# e
    JavaScript, uniram forças para criar algo único e transformador. Movidos por uma visão compartilhada de soluções inteligentes, embarcamos em uma emocionante aventura empreendedora.</p>
  <p>Ao longo dos anos, aprofundamos nossa expertise em linguagens de programação como
    C#, JavaScript e Angular, construindo pontes entre a criatividade e a funcionalidade. Essa sinergia nos permitiu desenvolver soluções personalizadas que atendem às necessidades específicas de cada cliente,
    levando a experiência do usuário a um novo patamar.</p>
  <p>Não paramos por aí. Reconhecendo a importância da mobilidade no mundo moderno, também dominamos a linguagem mobile,
    com destaque para a poderosa plataforma Ionic. Essa habilidade nos coloca na vanguarda das aplicações móveis, permitindo-nos criar experiências interativas e intuitivas que se adaptam perfeitamente a qualquer dispositivo.</p>

  <p>Nossa jornada é marcada pela busca incessante da excelência, pela paixão por desafios complexos e pela vontade de transformar ideias inovadoras em realidade.
    Estamos ansiosos para fazer parte da sua história, trazendo nossa expertise e dedicação para impulsionar o seu sucesso por meio de soluções de programação inteligentes e visionárias.</p>
  <p>Seja bem-vindo ao futuro, seja bem-vindo à nossa empresa.</p>
  <hr>
</div>

<!-- dudushy card -->
<div class="cards">
  <div class="card">
    <img class="cardAvatar" alt="card-avatar" src="assets/imgs/PNGs/dudushy.png">

    <div class="cardInfo-wrapper">
      <h2 class="cardName">Eduardo "dudushy" Talarico</h2>

      <hr>

      <h2 class="cardRole">Founder</h2>

      <p class="cardDesc">
        <span style="color: greenyellow;">Fundador</span>
        e
        <span style="color: orange;">Co-idealizador</span>
        da ShylandDev, possui vasta experiência no ramo de criação de aplicativos, sites,
        dentre outras smart solutions para empresas pequeno e médio porte.<br>
      </p>
      <ul>
        <li>Graduação Superior em Ciências da Computação pela Universidade Paulista;</li>
        <li>Web Developer (Ionic and Angular);</li>
      </ul>
    </div>
  </div>
</div>

<!-- natzun card -->
<div class="cards">
  <div class="card">
    <img class="cardAvatar" alt="card-avatar" src="assets/imgs/PNGs/natzun.png">

    <div class="cardInfo-wrapper">
      <h2 class="cardName">Natan "Natzun" Zunfrilli</h2>

      <hr>

      <h2 class="cardRole">Co-founder</h2>

      <p class="cardDesc">
        <span style="color: greenyellow;">Co-fundador</span>
        e
        <span style="color: orange;">Co-idealizador</span>
        da ShylandDev, possui 5 anos de experiência e atuação no ramo do direito imobiliário
        registral, com desenvolvimento smart solutions para cartórios de Registro de Imóveis. Atuando
        como Analista de implantação, suporte e desenvolvimento.<br>
      </p>
      <ul>
        <li>Graduação Superior em Direito pelo Centro Universitário Barão de Mauá;</li>
        <li>IT Security Specialist (database analysis and cyber attack);</li>
        <li>C# Developer;</li>
      </ul>
    </div>
  </div>
</div>
