@import "/src/styles.scss";

:host {
  position: relative;
  width: 100%;
  overflow-y: visible;
}

#rainbowCanvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

router-outlet {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // width: calc(100% - 5px);
  max-height: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparentize($color: $void, $amount: 0.8);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid $medium;
  z-index: 99;

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
    border: 1px solid $void;
    border-radius: 10px;
    transition: 0.3s all;
    &:hover {
      background: transparentize($color: $light, $amount: 0.8);
      border: 1px solid $light;
      cursor: pointer;
    }

    img {
      border-radius: 50%;
      // max-height: 85px;
      max-width: 80px;
      // width: 85px;
      // width: clamp(60px, 4vw, 85px);
      // width: 13vmin;
      width: 11vmin;
      // width: clamp(7vmin, 13vmin, 85px);
      // height: 85px;
      // height: clamp(60px, 4vw, 85px);
      // height: 2vmin;
      height: auto;
    }

    h1 {
      padding-right: 5%;
      // font-size: 1em;
      font-size: clamp(16px, 4vw, 24px);
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      // font-size: clamp(10px, 4vw, 20px);
      margin: 1%;
      padding: 3%;
      width: 100%;
      height: 100%;
      display: flex;
      color: $medium;
      border-radius: 10px;
      border: 1px solid $void;
      white-space: nowrap;
      transition: 0.3s all;
      &:hover {
        background: transparentize($color: $medium, $amount: 0.8);
        border: 1px solid $light;
        cursor: pointer;
      }
      &[isActive="true"] {
        color: $light;
      }
    }
  }
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  // max-height: 150px;
  // min-height: 150px;
  // height: 150px;
  border-top: 1px solid $medium;
  background: transparentize($color: $void, $amount: 0.8);
  backdrop-filter: blur(5px);
  color: $light;
  z-index: 99;
  // display: grid; //? trying grid
  // grid-template-areas: //? trying grid
  //   "logo" "email" "email" //? trying grid
  //   "page" "page" "social" //? trying grid
  //   "license" "license" "license"; //? trying grid
  // grid-template-rows: 30px auto 30px; //? trying grid
  // grid-template-rows: 1fr; //? trying grid
  // grid-template-columns: 1fr 1fr 1fr; //? trying grid
  // grid-template-columns: 1fr; //? trying grid
  // grid-template-rows: 1fr 1fr 1fr; //? trying grid

  .footer-wrapper {
    display: flex;
    // justify-content: space-around;
  }

  #logoDiv {
    // grid-area: logo; //? trying grid
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;

    img {
      width: 100%;
      max-width: 130px;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }

  #emailDiv {
    // grid-area: email; //? trying grid
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 66.6%;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;

      input {
        width: 100%;
        max-width: 350px;
        height: 30px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid $void;
        padding: 1%;
        transition: 0.3s all;
        &:focus {
          border: 1px solid $light;
        }
      }

      button {
        width: 100%;
        max-width: 100px;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid $void;
        border-left: 2px solid $medium;
        padding: 1%;
        transition: 0.3s all;
        &:hover {
          background: transparentize($color: $light, $amount: 0.8);
          border: 1px solid $light;
          border-left: 2px solid $medium;
          cursor: pointer;
        }
      }
    }
  }

  #pageDiv {
    // grid-area: page; //? trying grid
    display: flex;
    justify-content: space-evenly;
    width: 50%;

    a {
      display: flex;
      color: $medium;
      border-radius: 5px;
      white-space: nowrap;
      transition: 0.3s all;
      &:hover {
        background: transparentize($color: $medium, $amount: 0.8);
        cursor: pointer;
      }
    }
  }

  #socialDiv {
    // grid-area: social; //? trying grid
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;

    a {
      margin: 1%;
      padding: 2%;
      display: flex;
      color: $medium;
      border-radius: 10px;
      border: 1px solid $void;
      white-space: nowrap;
      transition: 0.3s all;
      &:hover {
        background: transparentize($color: $medium, $amount: 0.8);
        border: 1px solid $light;
        cursor: pointer;
      }

      img {
        width: 100%;
        max-width: 30px;
        height: auto;
        filter: invert(1);
      }
    }
  }

  #licenseDiv {
    // grid-area: license; //? trying grid
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    a {
      text-decoration: underline;
      color: $medium;
      white-space: nowrap;
      transition: 0.3s all;
      &:hover {
        color: $light;
        cursor: pointer;
      }
    }
  }
}
