<canvas id="rainbowCanvas"></canvas>

<main>
  <header>
    <section (click)="redirectTo('', title)">
      <img src="assets/IMGs/shyland-icon_inverted.png" alt="logo" />

      <h1>ShylandDev;</h1>
    </section>

    <nav *ngIf="allPages != []">
      <a *ngFor="let page of allPages | keyvalue : defaultOrder" [attr.isActive]="currentPage == page.value['path']" (click)="redirectTo(page.value['path'], title)">{{page.value['path']}}</a>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer>footer</footer>
</main>
