@import "/src/styles.scss";

:host {
  position: absolute;
  // position: relative;
  height: 100%;
  // max-height: calc(100% - 80px - 150px);
  width: 100%;
  // overflow-y: auto;
  // overflow-y: hidden;
  overflow-y: visible;
  box-sizing: border-box;
  margin-top: 80px;
  // padding-top: 80px + 5px;
  padding-top: 5px;
  // scroll-margin-top: 80px;
  // &::-webkit-scrollbar {
  //   scroll-margin-top: 80px;
  // }
}

#content {
  height: 100%;
  width: 100%;
}
