<div id="content">
  <div class="cards-wrapper">
    <div class="card">
      <div class="card-picture" style="background-image: url(assets/imgs/JPGs/project1_sample-small.jpg);">
        <img src="assets/imgs/JPGs/project1_sample.jpg" alt="Project 1" loading="lazy">
      </div>

      <div class="card-info">
        <h1>Project 1</h1>

        <hr>

        <p>
          This is a sample description.

          A test, just a test.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-picture" style="background-image: url(assets/imgs/JPGs/project2_sample-small.jpg);">
        <img src="assets/imgs/JPGs/project2_sample.jpg" alt="Project 2" loading="lazy">
      </div>

      <div class="card-info">
        <h1>Project 2</h1>

        <hr>

        <p>
          This is a sample description.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-picture" style="background-image: url(assets/imgs/JPGs/project3_sample-small.jpg);">
        <img src="assets/imgs/JPGs/project3_sample.jpg" alt="Project 3" loading="lazy">
      </div>

      <div class="card-info">
        <h1>Project 3</h1>

        <hr>

        <p>
          This is a samplesamplesamplesamplesamplesamplesamplesamplesamplesamplesample description.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-picture" style="background-image: url(assets/imgs/JPGs/project4_sample-small.jpg);">
        <img src="assets/imgs/JPGs/project4_sample.jpg" alt="Project 4" loading="lazy">
      </div>

      <div class="card-info">
        <h1>Project 4</h1>

        <hr>

        <p>
          test.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-picture" style="background-image: url(assets/imgs/JPGs/project5_sample-small.jpg);">
        <img src="assets/imgs/JPGs/project5_sample.jpg" alt="Project 5" loading="lazy">
      </div>

      <div class="card-info">
        <h1>Project 5</h1>

        <hr>

        <p>
          THIS IS A TEST
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-picture" style="background-image: url(assets/imgs/JPGs/project6_sample-small.jpg);">
        <img src="assets/imgs/JPGs/project6_sample.jpg" alt="Project 6" loading="lazy">
      </div>

      <div class="card-info">
        <h1>Project 6</h1>

        <hr>

        <p>
          1234567890
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-picture" style="background-image: url(assets/imgs/JPGs/project7_sample-small.jpg);">
        <img src="assets/imgs/JPGs/project7_sample.jpg" alt="Project 7" loading="lazy">
      </div>

      <div class="card-info">
        <h1>Project 7</h1>

        <hr>

        <p>

        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-picture" style="background-image: url(assets/imgs/JPGs/project8_sample-small.jpg);">
        <img src="assets/imgs/JPGs/project8_sample.jpg" alt="Project 8" loading="lazy">
      </div>

      <div class="card-info">
        <h1>Project 8</h1>

        <hr>

        <p>
          This is a sample description.

          A test, just a test.

          This is a longer description.

          Another test, more tests.
        </p>
      </div>
    </div>
  </div>
</div>
