<div id="content">
  <div id="gallery">
    <div id="galleryImg-wrapper">
      <img id="galleryImg" class="blur" (load)="unblurGallery()">
    </div>

    <img *ngIf="galleryIndex != 0" class="gallery-button" id="prev" src="assets/imgs/SVGs/chevron-back.svg" alt="prev" (click)="prevGalleryItem()">
    <img *ngIf="galleryIndex != projectArray.length - 1" class="gallery-button" id="next" src="assets/imgs/SVGs/chevron-forward.svg" alt="next" (click)="nextGalleryItem()">
    <img class="gallery-button" id="close" src="assets/imgs/SVGs/close.svg" alt="close" (click)="closeGallery()">
  </div>

  <div class="cards-wrapper">
    <div class="card" *ngFor="let project of projectArray | keyvalue : defaultOrder" id="card{{project.key}}" (click)="openGallery(project.key)">
      <div class="card-picture" style="background-image: url({{project.value['image_small']}});">
        <img src="{{project.value['image']}}" alt="{{project.value['title']}}" loading="lazy">
      </div>

      <div class="card-info">
        <h1>{{project.value['title']}}</h1>

        <hr>

        <p>{{project.value['description']}}</p>
      </div>
    </div>
  </div>
</div>
