@import "/src/styles.scss";
// @import "shyland-styles";
// @include shyland-styles;

:host {
  position: relative;
  height: max-content;
  width: 100%;
  overflow-y: visible;
  margin-top: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $light;
}

#content {
  height: 100%;
  width: 100%;
}

p.custom {
  // font-size: $base;
  font-size: calc(var(--base) * 7);
}

img.custom {
  // width: $base;
  width: calc(var(--base) * 40);
  // height: $base;
  height: calc(var(--base) * 4);
}

// p.custom {
//   font-size: var(--base);
// }

// img.custom {
//   width: var(--base);
//   height: var(--base);
// }
