@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  margin-top: var(--headerHeight);
  color: $light;
}

#content {
  height: 100%;
  padding-block: 1%;
  width: 100%;
  font-size: calc(var(--responsiveUnit) * 1.5);
}

p.custom {
  font-size: calc(var(--responsiveUnit) * 7);
}

img.custom {
  width: calc(var(--responsiveUnit) * 40);
  height: calc(var(--responsiveUnit) * 4);
}

.vendor {
  @include allVendors(transition, all 10s ease-in-out);
  background: lime;
  &:hover {
    @include allVendors(transform, rotate(145deg));
  }
}
