<div id="content">
  <h1>Testing responsive stuff 2.0</h1>

  <p shy-test="true"></p>

  <p shy-txt_size="small">small</p>
  <p shy-txt_size="medium">medium</p>
  <p shy-txt_size="large">large</p>

  <img shy-img_size="small" src="assets/imgs/SVGs/shyland.svg" style="background: #fff;">
  <img shy-img_size="medium" src="assets/imgs/SVGs/shyland.svg" style="background: #fff;">
  <img shy-img_size="large" src="assets/imgs/SVGs/shyland.svg" style="background: #fff;">

  <p class="custom">custom</p>
  <img class="custom" src="assets/imgs/SVGs/shyland.svg" style="background: #ccc;">
</div>
