@import "/src/styles.scss";
// @import "shyland-styles";
// @include shyland-styles;

:host {
  position: relative;
  height: max-content;
  width: 100%;
  overflow-y: visible;
  // margin-top: 100px;
  margin-top: calc(var(--responsiveUnit) * 5);
  padding-block: 1%;
  color: $light;
}

#content {
  height: 100%;
  width: 100%;
  font-size: calc(var(--responsiveUnit) * 1.5);
}

p.custom {
  // font-size: $base;
  font-size: calc(var(--responsiveUnit) * 7);
}

img.custom {
  // width: $base;
  width: calc(var(--responsiveUnit) * 40);
  // height: $base;
  height: calc(var(--responsiveUnit) * 4);
}

// p.custom {
//   font-size: var(--responsiveUnit);
// }

// img.custom {
//   width: var(--responsiveUnit);
//   height: var(--responsiveUnit);
// }
