$primary: #3880ff;
$secondary: #3dc2ff;
$tertiary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$dark: #222428;
$medium: #92949c;
$light: #f4f5f8;

// @font-face {
//   font-family: "Bungee";
//   src: url("./assets/fonts/Bungee-Regular.ttf");
// }

html,
body,
app-root {
  margin: 0;
}

app-root {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  font-family: monospace;
  overflow-x: hidden;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-size: 1.5vmax;
  font-family: monospace;
  &[theme="dark"] {
    background-color: $dark;
    color: $light;
  }
  &[theme="light"] {
    background-color: $light;
    color: $dark;
  }
}

//! CUSTOM SCROLLBAR [START]
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $medium;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $danger;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}
//! CUSTOM SCROLLBAR [FINISH]
