$void: #ffffff00;
$primary: #3880ff;
$secondary: #3dc2ff;
$tertiary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$dark: #222428;
$medium: #92949c;
$light: #f4f5f8;

:root {
  --responsiveMax: 1vmax;
  --responsiveMin: 1vmin;
}

@media (orientation: portrait) {
  :root {
    --responsiveMax: 1vh;
    --responsiveMin: 1vw;
    --rmax2px: unit(calc(var(--responsiveMax) + 0px), px);
    --rmin2px: unit(calc(var(--responsiveMin) + 0px), px);
  }

  * {
    //? Responsive Texts [START]
    &[shy-txt_size="small"] {
      font-size: calc(var(--responsiveMax) * 1);
    }
    &[shy-txt_size="medium"] {
      font-size: calc(var(--responsiveMax) * 2);
    }
    &[shy-txt_size="large"] {
      font-size: calc(var(--responsiveMax) * 3);
    }
    //? Responsive Texts [END]

    //? Responsive Images [START]
    &[shy-img_size="small"] {
      width: calc(var(--responsiveMax) * 3);
      height: calc(var(--responsiveMax) * 3);
    }
    &[shy-img_size="medium"] {
      width: calc(var(--responsiveMax) * 6);
      height: calc(var(--responsiveMax) * 6);
    }
    &[shy-img_size="large"] {
      width: calc(var(--responsiveMax) * 9);
      height: calc(var(--responsiveMax) * 9);
    }

    //? Responsive Images [END]

    &[shy-test="true"] {
      font-size: var(--rmax2px);
      &::after {
        content: "portrait-#{var(--responsiveMax)}";
      }
    }
  }
}

@media (orientation: landscape) {
  :root {
    --responsiveMax: 1vw;
    --responsiveMin: 1vh;
    --rmax2px: unit(calc(var(--responsiveMax) + 0px), px);
    --rmin2px: unit(calc(var(--responsiveMin) + 0px), px);
  }

  * {
    //? Responsive Texts [START]
    &[shy-txt_size="small"] {
      font-size: calc(var(--responsiveMax) * 1);
    }
    &[shy-txt_size="medium"] {
      font-size: calc(var(--responsiveMax) * 2);
    }
    &[shy-txt_size="large"] {
      font-size: calc(var(--responsiveMax) * 3);
    }
    //? Responsive Texts [END]

    //? Responsive Images [START]
    &[shy-img_size="small"] {
      width: calc(var(--responsiveMax) * 3);
      height: calc(var(--responsiveMax) * 3);
    }
    &[shy-img_size="medium"] {
      width: calc(var(--responsiveMax) * 6);
      height: calc(var(--responsiveMax) * 6);
    }
    &[shy-img_size="large"] {
      width: calc(var(--responsiveMax) * 9);
      height: calc(var(--responsiveMax) * 9);
    }

    //? Responsive Images [END]

    &[shy-test="true"] {
      font-size: var(--rmax2px);
      &::after {
        content: "landscape-#{var(--responsiveMax)}";
      }
    }
  }
}

// @font-face {
//   font-family: "Bungee";
//   src: url("./assets/fonts/Bungee-Regular.ttf");
// }

html,
body,
app-root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: visible;
}

* {
  // font-size: clamp(1vmax, 1.8vmax, 2.5vmax);
  font-family: monospace;
  transition: 50ms all;
}

//! CUSTOM SCROLLBAR [START]
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $dark;
}

::-webkit-scrollbar-thumb {
  background: $light;
}

::-webkit-scrollbar-thumb:hover {
  background: $medium;
}
//! CUSTOM SCROLLBAR [FINISH]

//! CUSTOM BUTTON [START]
.shy-btn {
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  background: transparentize($color: $light, $amount: 0.6);
  box-shadow: inset 0px 0px 2px 1px $light;
  transition: 0.3s all;
  color: $light;
  &:hover {
    background: transparentize($color: $light, $amount: 0.8);
    cursor: pointer;
  }
  &[isActive="true"] {
    background: transparentize($color: $medium, $amount: 0.6);
    &:hover {
      background: transparentize($color: $medium, $amount: 0.8);
      cursor: pointer;
    }
  }
  &[isDisabled="true"] {
    background: transparentize($color: $dark, $amount: 0.6);
    &:hover {
      background: transparentize($color: $dark, $amount: 0.8);
      cursor: not-allowed;
    }
  }
}
//! CUSTOM BUTTON [END]

//! CUSTOM INPUT [START]
//TODO
//! CUSTOM INPUT [END]

//! CUSTOM TEXTAREA [START]
//TODO
//! CUSTOM TEXTAREA [END]

//! CUSTOM ELEMENT [START]
//TODO
//! CUSTOM ELEMENT [END]

//* ANIMATIONS [START]
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes rainbowColor {
  100%,
  0% {
    color: #ff0000;
  }

  8% {
    color: #ff7f00;
  }

  16% {
    color: #ffff00;
  }

  25% {
    color: #7fff00;
  }

  33% {
    color: #00ff00;
  }

  41% {
    color: #00ff7f;
  }

  50% {
    color: #00ffff;
  }

  58% {
    color: #007fff;
  }

  66% {
    color: #0000ff;
  }

  75% {
    color: #7f00ff;
  }

  83% {
    color: #ff00ff;
  }

  91% {
    color: #ff007f;
  }
}
//* ANIMATIONS [END]
