$void: #ffffff00;
$primary: #3880ff;
$secondary: #3dc2ff;
$tertiary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$dark: #222428;
$medium: #92949c;
$light: #f4f5f8;

// @font-face {
//   font-family: "Bungee";
//   src: url("./assets/fonts/Bungee-Regular.ttf");
// }

html,
body,
app-root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: visible;
}

* {
  // font-size: clamp(1vmax, 1.8vmax, 2.5vmax);
  font-family: monospace;
  transition: 50ms all;
}

body {
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

//! CUSTOM SCROLLBAR [START]
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $dark;
}

::-webkit-scrollbar-thumb {
  background: $light;
}

::-webkit-scrollbar-thumb:hover {
  background: $medium;
}
//! CUSTOM SCROLLBAR [FINISH]

//! CUSTOM BUTTON [START]
.shy-btn {
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  background: transparentize($color: $light, $amount: 0.6);
  box-shadow: inset 0px 0px 2px 1px $light;
  transition: 0.3s all;
  color: $light;
  &:hover {
    background: transparentize($color: $light, $amount: 0.8);
    cursor: pointer;
  }
  &[isActive="true"] {
    background: transparentize($color: $medium, $amount: 0.6);
    &:hover {
      background: transparentize($color: $medium, $amount: 0.8);
      cursor: pointer;
    }
  }
  &[isDisabled="true"] {
    background: transparentize($color: $dark, $amount: 0.6);
    &:hover {
      background: transparentize($color: $dark, $amount: 0.8);
      cursor: not-allowed;
    }
  }
}
//! CUSTOM BUTTON [END]

//! CUSTOM INPUT [START]
//TODO
//! CUSTOM INPUT [END]

//! CUSTOM TEXTAREA [START]
//TODO
//! CUSTOM TEXTAREA [END]

//! CUSTOM ELEMENT [START]
//TODO
//! CUSTOM ELEMENT [END]
